{% extends "base.html" %}
<!--Enable crispy forms-->
{% load crispy_forms_tags %}
<!--Create a block of contenet-->
{% block content %}
    <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="250" height="250">
          <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
          </div>
        </div>
        <!-- FORM HERE -->
        <form method="post">
          <!--Add CSRF token (Cross Site Request forgery - a hidden token) -->
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Join Now</legend>
              <!--Now render the ProfileUpdateForm and UserUpddateForm together in single page-->          
              <!--Use crispy filter tags-->
              {{ p_form|crispy}}
              {{ u_sform|crispy}}
              <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Sign Up</button>
              </div>
          </fieldset>
        </form>
      </div>
    
{% endblock content%} <!--block name is optional-->