<!--Remove repaeating code-->
<!--Inherit the base template-->
{% extends "base.html" %}
<!--Create a block of contenet-->
{% block content %}
    <!--Iterate through the posts using Jinja template syntax-->
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <!--Modified date field to show full month,day and year only-->
                <!--Check out this URL for Django template date formats: https://docs.djangoproject.com/en/2.1/ref/templates/builtins/#date -->
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content%} <!--block name is optional-->